################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Book.Abstract/bin/Debug
/Book.Abstract/obj/Debug
/Book.Concrete/bin/Debug
/Book.Concrete/obj/Debug
/Book.DataLayer/bin/Debug
/Book.DataLayer/obj
/Book.Domain/obj/Debug
/BookApi/obj/Debug
/BookApi/BookApi.csproj.user
/packages
/BookApi/bin
/Book.Configuration/obj/Debug
